<h2>Summary</h2>

<ol>
    <li>
        <h3>First comment on articles</h3>
        Posted by {{first_comment.author}} on {{ first_comment.time_create|date:"d-m-Y H:i:s" }}
        <br>
        "{{ first_comment.body }}"
    </li>
    <li>
        <h3>First comment that received a comment</h3>
        Posted by {{first_comment_of_comment.author}} on {{ first_comment_of_comment.time_create|date:"d-m-Y H:i:s" }}
        <br>
        "{{ first_comment_of_comment.body }}"
    </li>
     <li>
        <h3>Amount of comments on articles</h3>
         <ul>
            {% for article in amount_comments %}
                <li>
                    Article: {{ article.0.title }} (author: {{article.0.author}}) - {{article.1}}
                </li>
            {% endfor %}
         </ul>
    </li>
    <li>
        <h3>Сomments on an article created today</h3>
        {% for comment in comm_article_today %}
            <ul>
                <li>
                    Posted by {{comment.author}} on {{ comment.time_create|date:"d-m-Y H:i:s" }}
                    <br>
                    "{{ comment.body }}"
                </li>
            </ul>
        {% endfor %}
    </li>
    <li>
        <h3>Good comments</h3>
        {% for comment in good %}
            <ul>
                <li>
                    Posted by {{comment.author}} on {{ comment.time_create|date:"d-m-Y H:i:s" }}
                    <br>
                    "{{ comment.body }}"
                </li>
            </ul>
        {% endfor %}
    </li>
    <li>
        <h3>Comments by Adrian Holovaty</h3>
        {% for comment in comm_author %}
            <ul>
                <li>
                    Posted by {{comment.author}} on {{ comment.time_create|date:"d-m-Y H:i:s" }}
                    <br>
                    "{{ comment.body }}"
                </li>
            </ul>
        {% endfor %}
    </li>
    <li>
        <h3>Comments without Guido van Rossum</h3>
        {% for comment in comm_without_author %}
            <ul>
                    <li>
                        Posted by {{comment.author}} on {{ comment.time_create|date:"d-m-Y H:i:s" }}
                        <br>
                        "{{ comment.body }}"
                </li>
            </ul>
        {% endfor %}
    </li>
    <li>
        <h3>Comments to articles with id less 2</h3>
        {% for comment in comm_lt %}
            <ul>
                    <li>
                        Posted by {{comment.author}} on {{ comment.time_create|date:"d-m-Y H:i:s" }}
                        <br>
                        "{{ comment.body }}"
                </li>
            </ul>
        {% endfor %}
    </li>

